.App {
  background-color: rgb(255, 255, 255); 
  box-sizing: border-box;
  width: 100%;
  padding: 1em;
  margin-bottom: 2em;
}

.hidden {
  display: none;
}

.visible {
  background-color: #f2f2f2;
}
